.mainnav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background: #020323;
  height: 100vh;
  padding-right: 20px;

  li {
    padding-left: 40px;
    padding-top: 20px;
  }

  a {
    color: whitesmoke;
    opacity: 1;
    transition: all 0.5s;

    &:hover {
      color: blue;
    }
  }
}

ul {
  font-size: 2rem;
}
