html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background: black;
  height: 100vh;
  padding-right: 20px;
  opacity: 0.5;
}

.mainnav li {
  padding-left: 40px;
  padding-top: 20px;
}

.mainnav a {
  color: white;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mainnav a:hover {
  color: blue;
}

ul {
  font-size: 2rem;
}

header {
  height: 100vh;
  background: url(../assets/brain-background.jpg);
  -webkit-box-shadow: inset 0 0 0 2000px rgba(8, 7, 16, 0.8);
          box-shadow: inset 0 0 0 2000px rgba(8, 7, 16, 0.8);
  background-size: cover;
  background-position-x: 500px;
}

header p {
  min-width: 400px;
  width: 70%;
  background: rgba(8, 7, 16, 0.8);
  padding: 20px;
  margin-top: 25px;
  margin-left: -20px;
}

header h3 {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 3rem;
}

.headerText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  max-width: 100%;
  text-indent: 50px;
}

.contactIcons {
  position: fixed;
  right: 40px;
  top: 40px;
}

.contactIcons i {
  padding-top: 20px;
  color: white;
  font-size: 3rem;
}

html {
  font-family: 'Oxygen', sans-serif;
  font-size: 62.5%;
  color: white;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 7rem;
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-size: 4rem;
  padding: 50px 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

img {
  width: auto;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  padding: 0 70px;
}

.about {
  min-height: 80vh;
  background: #070a14;
}

.about img {
  border: white 3px solid;
  max-height: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aboutText {
  width: 60%;
  text-indent: 50px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  min-height: 80vh;
  background: #070a14;
  margin: 0 auto;
}

.education i {
  font-size: 5rem;
  padding-right: 30px;
}

.education p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.educationFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.skills strong {
  font-size: 3rem;
}

.skills div {
  padding-bottom: 20px;
}

.skillsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skillsFlex p {
  width: 80%;
}

.skillsFlex img {
  max-width: 60px;
  max-height: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.publications li {
  padding-bottom: 20px;
}

.publications a {
  font-size: 2.5rem;
}

.iconCredits {
  display: none;
}
